#parse("/includes/config.vm")
<div>
    #printToolbar('Help')
    <a href="javascript: showForm('/help/form')" class="btn btn-small">추가</a>
    <a href="javascript: deleteCheckedItem()" class="btn btn-small">삭제</a>
    <div style="height:10px"></div>
    <table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th><input type="checkbox" id="itemCheckbox" onclick="javascript: toggleSelectedItems()"></th>
            <th>id</th>
            <th>제목</th>
            <th>도움말</th>
            <th>상태 S/D/W</th>
            <th>등록일</th>
            <th>수정일</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
#foreach($item in $list)
    <tr>
        <td><input type="checkbox" name="itemCheckbox" class="itemCheckbox" value="$!{coreUtil.escapeHtml($item.helpId)}"></td>
        <td class="nowrap-text">$!{coreUtil.escapeHtml($item.helpId)}</td>
        <td class="nowrap-text">
        $!{coreUtil.escapeHtml($item.title)}
        </td>
        <td class="nowrap-text">
        </td>
        <td class="nowrap-text">
        $!{coreUtil.escapeHtml($item.status)}
        </td>
        <td class="nowrap-text">
        $!{coreUtil.getFormat($item.regDatetime)}
        </td>
        <td class="nowrap-text">
        $!{coreUtil.getFormat($item.modDatetime)}
        </td>
        <td class="nowrap-text">
            <a class="btn btn-small" href="javascript: showForm('/help/form', {id:$item.helpId, helpId:$item.helpId})">수정</a>
            <a class="btn btn-small" href="javascript: deleteItem($!{coreUtil.escapeHtml($item.helpId)})">삭제</a>
        </td>
    </tr>
#end
</table>
</div>
#printPaginate($page)